<div class="card-wrapper" role="button">
  <div class="player-card">
    <img class="player-card-bg" src="/player-card.png" />
    <div class="player-img-wrapper">
      <img class="player-img" src="/player.png" alt="" />
    </div>
  </div>
  <div class="player-rating-pos-wrapper">
    <p class="rating">{{ player.rating }}</p>
    <p class="position">{{ player.position }}</p>
  </div>
  <div class="player-name">
    <p>{{ player.displayName }}</p>
  </div>
  <div class="player-team">
    <img src="/team_logo.png" alt="" />
  </div>
</div>
