@use "../../shared/styles/variables";

.card-wrapper {
  justify-content: center;
  cursor: pointer;
}

.player-card {
  --card-width: 112px;
  width: var(--card-width);
  max-width: var(--card-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  isolation: isolate;
  aspect-ratio: 0.75;
}

g {
  fill: variables.$highlight-color;
}

// Different style for goalkeeper
.gk {
  color: #ec118f;
  g {
    fill: white;
  }
}

.player-num {
  width: 45%;
  top: 27%;
  left: 27%;
  position: absolute;
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.player-pos-name-wrapper {
  width: 112px;
  position: absolute;
  top: 70%;
  background-color: #423f39;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid variables.$highlight-color;
  border-radius: 16px;
  padding: 0 6px;
}

.player-name,
.player-pos {
  text-align: center;
  margin: 6px 0;
  font-size: 0.9rem;
}

.player-pos {
  font-weight: bold;
  max-height: fit-content;
  color: hotpink;
}

.player-name {
  width: 70%;
  max-width: 70%;
  word-wrap: break-word;
}
