@import url("https://fonts.googleapis.com/css2?family=Sansation:wght@300;400;700&display=swap");

$bg-dark: #222222;
$bg-light: #323232;
$highlight-color: #ec118f;
// $highlight-color: #BD0E72;
$font-color: #ededed;

$font: "Sansation", sans-serif;

$header-height: 10vh;
$main-area-height: 90vh;
