@use "./variables";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: variables.$bg-dark;
  font-family: variables.$font;
  color: variables.$font-color;
}

main {
  min-height: variables.$main-area-height;
  background-color: variables.$bg-light;
  padding: 1rem 3rem;
  margin-top: 10vh;
  position: relative;
  overflow: auto;
}

p {
  font-size: 1rem;
}
