<div class="pitch formation-433">
  <img class="pitch-bg" src="/pitch.svg" alt="" />
  <div id="player1" class="absolute"><app-player-card></app-player-card></div>
  <div id="player2" class="absolute"><app-player-card></app-player-card></div>
  <div id="player3" class="absolute"><app-player-card></app-player-card></div>
  <div id="player4" class="absolute"><app-player-card></app-player-card></div>
  <div id="player5" class="absolute"><app-player-card></app-player-card></div>
  <div id="player6" class="absolute"><app-player-card></app-player-card></div>
  <div id="player7" class="absolute"><app-player-card></app-player-card></div>
  <div id="player8" class="absolute"><app-player-card></app-player-card></div>
  <div id="player9" class="absolute"><app-player-card></app-player-card></div>
  <div id="player10" class="absolute"><app-player-card></app-player-card></div>
  <div id="player11" class="absolute"><app-player-card></app-player-card></div>
</div>
